body{
	margin: 0;
	padding: 0;
	background-color: rgba(143,63,174,0.5);
}
.container{
	margin: 160px auto;
	max-width: 350px;
}
ul{
	list-style: none;
}
li{
	display: inline;
	padding: 10px 6px;
	border-right: 1px solid #2b3d51;
	border-bottom: 2px solid rgba(43,61,81,0);
	transition: border .4s linear;
}
li:last-child{
	border: none;
	border-bottom: 2px solid rgba(43,61,81,0);
}
a{
	text-decoration: none;
	text-transform: uppercase;
	color: #2b3d51;
	font-size: 1.5em;
}
li:hover{
	border-right: 1px solid rgba(43,61,81,0);
	border-bottom: 2px solid #2b3d51;
}
li:last-child:hover{
	border-right: none;
	border-bottom: 2px solid #2b3d51;
}