body{
	background: linear-gradient(-90deg, #ea4b35 10px, #7e8c8d 10px) 0;
	height: 100%;
}
.container{
	width: 270px;
	height: 100%;
	margin: 0 auto;
	margin-top: 200px;
}
.header{
	width: 250px;
	background-color: #1aaf5d;
	padding: 6px 6px 5px 5px;
	font-size: 2.3em;
	font-weight: 600;
}
.main{
	width: 250px;
	margin-top: 40px;
	background-color: #f59c00;
	padding: 6px 9px 9px 7px;
	font-size: 1.3em;
}